.login-form {
  padding: 10px;
  margin: auto;
  box-shadow: var(--bg-black-1) 0px 7px 29px 0px;
  width: 30%;
  padding: 11px 25px 30px 29px;
  background: var(--bg-white-1);
  min-width: 700px;
  border: 1px solid;
  border-radius: 10px;
  min-width: 450px;
}
